body{font-family:Arial;background:#f4f4f4;text-align:center;}
.container{display:flex;flex-wrap:wrap;justify-content:center;gap:20px;padding:20px;}
.card{background:#fff;padding:15px;width:220px;border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.2);transition:0.3s;}
.card:hover{transform:scale(1.05);}
.card img{width:100%;height:220px;object-fit:cover;border-radius:8px;}
button{padding:8px 12px;background:black;color:white;border:none;border-radius:5px;}
a{display:block;margin:10px;font-weight:bold;}
